.root {
    -fx-padding: 10; /* Add a small padding around the window */
    -fx-font-size: 20;
    -fx-background-color: grey;
}
.TitleLabel{
    -fx-font-family: serif; 
    -fx-font-size: 30;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}
.Label{
    -fx-font-family: serif; 
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}
.Button{
    -fx-font-size: 20 serif; 
    -fx-background-color: #318AE0; 
    -fx-text-fill: black;

}