.Pane{
    -fx-alignment: center;
    -fx-border-color:blue;

}
.Vbox{
    -fx-border-color:cyan;
    -fx-fill-width: "true";
}

.VboxLabel{
    -fx-font-family: monospace; 
    -fx-font-size: 50;
    -fx-text-fill: blue;
}

.VboxchangingLabel{
    -fx-label-padding: 50,50,50,50;
    -fx-font-family: monospace; 
    -fx-font-size: 50;
    -fx-text-fill: cyan;
}

.current {
    -fx-effect: dropshadow(three-pass-box, #318AE0, 10, 0, 0, 0);
 }
    