.Pane{
    -fx-alignment: center;
    -fx-border-color:blue;

}
.Vbox{
    -fx-border-color:cyan;
    -fx-fill-width: "true";
}

.VboxLabel{
    -fx-font-family: monospace; 
    -fx-font-size: 5;
    -fx-text-fill: blue;
}

.VboxchangingLabel{
    -fx-label-padding: 50,50,50,50;
    -fx-font-family: monospace; 
    -fx-font-size: 5;
    -fx-text-fill: cyan;
}